<header class="header">
    <div class="container">
        <p class="text-muted">Header content here.</p>
    </div>
</header>

<div id="custom-bootstrap-menu" class="navbar navbar-default " role="navigation">
    <div class="container-fluid">
        <div class="collapse navbar-collapse navbar-menubuilder">
            <ul class="nav navbar-nav navbar-left">
                <li>
                    <a href="{{ path('app_report_list') }}">Employee Reports</a>
                </li>
                <li>
                    <a href="{{ path('app_report_add') }}">Add Report</a>
                </li>
                <li>
                    <a href="{{ path('app_report_manage') }}">Manage Report</a>
                </li>
            </ul>
        </div>
    </div>
</div>