<!DOCTYPE html>
<head>
    <meta charset="UTF-8" />

    <title>{% block title %}Report management{% endblock %}</title>
    {% block stylesheets %}
        <link href="{{ asset('bundles/app/css/bootstrap.css') }}" rel="stylesheet" type="text/css" media="screen" />
        <link href="{{ asset('bundles/app/css/doc.min.css') }}" rel="stylesheet" type="text/css" media="screen" />
        <link href="{{ asset('bundles/app/css/base.css') }}" rel="stylesheet" type="text/css" media="screen" />
        <link href="{{ asset('bundles/app/css/sticky-footer.css') }}" rel="stylesheet" type="text/css" media="screen" />
    {% endblock %}

    {% block favicon %}
        <link rel="icon" type="image/x-icon" href="{{ asset('bundles/appbundle/images/favicon.ico') }}" />
    {% endblock %}

    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>

</head>
<body>
{% block main_container %}
    {% block header_menu %}
        <div class="menu-container large-12">
            {% include 'AppBundle:Base:header.html.twig' %}
        </div>
    {% endblock header_menu %}

    {% block container %}
    {% endblock container %}

    {% block footer %}
        {% include 'AppBundle:Base:footer.html.twig' %}
    {% endblock footer %}
{% endblock main_container %}

{% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="{{ asset('bundles/app/js/company.js')}}" type="text/javascript"></script>
{% endblock %}

</body>
</html>