{% for flashMessage in app.session.flashbag.get('success') %}
    <tr class="whitebg">
        <td align="left" colspan=6>
            <p class="alert alert-success">{{ flashMessage }}</p>
        </td>
    </tr>
{% endfor %}