{% extends 'AppBundle:Base:layout.html.twig' %}
{% block container %}
<div class="panel panel-default container" style="padding-top: 20px">
	<div class="panel-heading"><h1>Add Report</h1></div>
	<div class="panel-body">
		<div class="row">
			<form method="post" novalidate>
				<div class="col-xs-8">
					<div class="form-group">
						{{ form_label(form.report) }}
						<div>{{ form_widget(form.report) }}</div>
						<div class="error-message">
							{{ form_errors(form.report) }}
						</div>
					</div>
				</div>
				<div class="col-xs-8">
					<div class="form-group">
						{{ form_label(form.name) }}
						<div>{{ form_widget(form.name) }}</div>
						<div class="error-message">
							{{ form_errors(form.name) }}
						</div>
					</div>
				</div>
				<div class="col-xs-8">
					<div class="form-group">
						{{ form_label(form.description) }}
						<div>{{ form_widget(form.description) }}</div>
						<div class="error-message">
							{{ form_errors(form.description) }}
						</div>
					</div>
				</div>
				<div id="general-div" class="report-type-div">
					<div class="col-xs-8">
						<div class="form-group">
							{{ form_label(form.additionalText) }}
							<div>{{ form_widget(form.additionalText) }}</div>
							<div class="error-message">
								{{ form_errors(form.additionalText) }}
							</div>
						</div>
					</div>
				</div>
				<div id="site-div" style="display: none;" class="report-type-div">
				<div class="col-xs-8">
					<div class="form-group">
						{{ form_label(form.latitude) }}
						<div>{{ form_widget(form.latitude) }}</div>
						<div class="error-message">
							{{ form_errors(form.latitude) }}
						</div>
					</div>
				</div>
				<div class="col-xs-8">
					<div class="form-group">
						{{ form_label(form.longitude) }}
						<div>{{ form_widget(form.longitude) }}</div>
						<div class="error-message">
							{{ form_errors(form.longitude) }}
						</div>
					</div>
				</div>
				</div>
				<div class="col-xs-8">
					{{ form_rest(form) }}
					<button type="submit" class="btn btn-primary">SAVE</button>
					<a href="{{ path('app_report_list')}}">cancel</a>
				</div>
			</form>
		</div>
	</div>
</div>
{% endblock %}
