{% extends 'AppBundle:Base:layout.html.twig' %}
{% block container %}
    <div class="panel panel-default container" style="padding-top: 20px">
        {% include "AppBundle:Base:messages.html.twig" %}
        <div class="panel-heading"><h1>Employee Reports</h1></div>
        <div class="panel-body">
            <div class="row">
                <table class="table table-striped table-hover">
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Type</th>
                        <th>Additional Text</th>
                        <th>Latitide</th>
                        <th>Longitude</th>
                        <th>Action</th>
                    </tr>
                    {% for report in reports %}
                        <tr>
                            <td>{{ report.name }}</td>
                            <td>{{ report.description }}</td>
                            <td>{{ report.report.type|capitalize }}</td>
                            <td>{{ report.additionalText }}</td>
                            <td>{{ report.latitude }}</td>
                            <td>{{ report.longitude }}</td>
                            <td>
                                <a href="{{ path('app_report_edit', { 'id': report.id } )}}">Edit</a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="6" align="center">
                                {{ "No record found" }}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
{% endblock%}