{% extends 'AppBundle:Base:layout.html.twig' %}
{% block container %}
    <div class="panel panel-default container" style="padding-top: 20px">
        <div class="panel-heading"><h1>Manage Report</h1></div>
        <div class="panel-body">
            <div class="row">
                <table class="table table-striped table-hover">
                    {% include "AppBundle:Base:messages.html.twig" %}
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Type</th>
                        <th>Additional Text</th>
                        <th>Latitide</th>
                        <th>Longitude</th>
                        <th>Action</th>
                    </tr>
                    {% for report in reports %}
                        <tr>
                            <td id="report-name">{{ report.name }}</td>
                            <td id="report-description">{{ report.description }}</td>
                            <td id="report-type">{{ report.report.type|capitalize }}</td>
                            <td>{{ report.additionalText }}</td>
                            <td>{{ report.latitude }}</td>
                            <td>{{ report.longitude }}</td>
                            <td>
                                <a href="javascript:void(0);" class="btn btn-lg btn-primary validate-btn" data-id="{{ report.id  }}">
                                    Validate
                                </a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="6" align="center">
                                {{ "No record found" }}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>

    <!-- Modal -->
    {#<div class="bs-example">#}
        <!-- Button HTML (to Trigger Modal) -->


        <!-- Modal HTML -->
        <div id="myModal" class="modal fade">
            <form method="post" id="report-form-validate">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title">Confirmation</h4>
                        </div>
                        <div class="modal-body">
                            <table>
                                <tr><td><b>Type:</b></td><td id="model-type"></td></tr>
                                <tr><td width="100px"><b>Name:</b></td><td id="model-name"></td></tr>
                                <tr><td><b>Description:</b></td><td id="model-description"></td></tr>
                            </table>
                            <br/>
                            <p class="text-warning">
                                <input type="radio" name="approve_disapprove" value="1" checked> Approve
                                <input type="radio" name="approve_disapprove" value="0"> Reject
                                <input type="hidden" id="validate_report_id" name="validate_report" value="0">
                            </p>
                            <p><b>Reason:</b></p>
                            <textarea rows="5" cols="67"></textarea>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" id="save-button">Save changes</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    {#</div>#}

{% endblock%}